USE [master]
GO
/****** Object:  Database [FENIX_NOMINA]    Script Date: 12/03/2022 21:49:50 ******/
CREATE DATABASE [FENIX_NOMINA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FENIX_NOMINA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FENIX_NOMINA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FENIX_NOMINA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FENIX_NOMINA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FENIX_NOMINA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FENIX_NOMINA]
GO
/****** Object:  Table [dbo].[DEPARTAMENTO]    Script Date: 12/03/2022 21:49:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTO](
	[ID_DEPAR] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](30) NOT NULL,
	[UBICACION] [nvarchar](45) NOT NULL,
	[RESPONSABLE_AREA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DEPAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 12/03/2022 21:49:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[ID_EMPLE] [int] NOT NULL,
	[CEDULA] [nvarchar](14) NOT NULL,
	[NOMBRE] [nvarchar](30) NOT NULL,
	[SALARIO] [int] NOT NULL,
	[ID_DEPARTAMENTO] [int] NOT NULL,
	[ID_PUESTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_NOMINA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_EMPLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN1]    Script Date: 12/03/2022 21:49:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN1](
	[ID_USER] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRES] [nvarchar](40) NOT NULL,
	[USUARIO] [nvarchar](30) NOT NULL,
	[CONTRASEÑA] [nvarchar](15) NOT NULL,
	[TIPO_USUARIO] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUESTO]    Script Date: 12/03/2022 21:49:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUESTO](
	[ID_PUES] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](30) NOT NULL,
	[NIVEL_RIESGO] [int] NOT NULL,
	[NIVEL_MN_SALARIO] [int] NOT NULL,
	[NIVEL_MX_SALARIO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PUES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RG_TRANSACCIONES]    Script Date: 12/03/2022 21:49:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RG_TRANSACCIONES](
	[ID_RGTRANS] [int] IDENTITY(1,1) NOT NULL,
	[ID_EMPLEADO] [int] NOT NULL,
	[ID_INGRESO] [int] NOT NULL,
	[ID_DEDUCCION] [int] NOT NULL,
	[ID_TIPO_TRANSACCION] [int] NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[MONTO] [decimal](10, 2) NOT NULL,
	[ESTADO] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_RGTRANS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_INGRESO]    Script Date: 12/03/2022 21:49:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_INGRESO](
	[ID_INGR] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](30) NOT NULL,
	[DEPENDE_SALARIO] [nvarchar](30) NULL,
	[ESTADO] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_INGR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_NOMINA]    Script Date: 12/03/2022 21:49:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_NOMINA](
	[ID_TI] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TP_DEDUCCIONES]    Script Date: 12/03/2022 21:49:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TP_DEDUCCIONES](
	[ID_TPDEDU] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](30) NOT NULL,
	[DEPENDE_SALARIO] [nvarchar](30) NULL,
	[ESTADO] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TPDEDU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACCION]    Script Date: 12/03/2022 21:49:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACCION](
	[ID_TRANS] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_TRANSACCION] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TRANS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DEPARTAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_RES_AREA] FOREIGN KEY([RESPONSABLE_AREA])
REFERENCES [dbo].[EMPLEADO] ([ID_EMPLE])
GO
ALTER TABLE [dbo].[DEPARTAMENTO] CHECK CONSTRAINT [FK_RES_AREA]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_IDEPAR] FOREIGN KEY([ID_DEPARTAMENTO])
REFERENCES [dbo].[DEPARTAMENTO] ([ID_DEPAR])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [FK_IDEPAR]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_IDEPUES] FOREIGN KEY([ID_PUESTO])
REFERENCES [dbo].[PUESTO] ([ID_PUES])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [FK_IDEPUES]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_IDNOMINA] FOREIGN KEY([ID_NOMINA])
REFERENCES [dbo].[TIPO_NOMINA] ([ID_TI])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [FK_IDNOMINA]
GO
ALTER TABLE [dbo].[RG_TRANSACCIONES]  WITH CHECK ADD  CONSTRAINT [FK_ID_DEDU] FOREIGN KEY([ID_DEDUCCION])
REFERENCES [dbo].[TP_DEDUCCIONES] ([ID_TPDEDU])
GO
ALTER TABLE [dbo].[RG_TRANSACCIONES] CHECK CONSTRAINT [FK_ID_DEDU]
GO
ALTER TABLE [dbo].[RG_TRANSACCIONES]  WITH CHECK ADD  CONSTRAINT [FK_ID_EMPL] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([ID_EMPLE])
GO
ALTER TABLE [dbo].[RG_TRANSACCIONES] CHECK CONSTRAINT [FK_ID_EMPL]
GO
ALTER TABLE [dbo].[RG_TRANSACCIONES]  WITH CHECK ADD  CONSTRAINT [FK_ID_ING] FOREIGN KEY([ID_INGRESO])
REFERENCES [dbo].[TIPO_INGRESO] ([ID_INGR])
GO
ALTER TABLE [dbo].[RG_TRANSACCIONES] CHECK CONSTRAINT [FK_ID_ING]
GO
ALTER TABLE [dbo].[RG_TRANSACCIONES]  WITH CHECK ADD  CONSTRAINT [FK_ID_TRANS] FOREIGN KEY([ID_TIPO_TRANSACCION])
REFERENCES [dbo].[TRANSACCION] ([ID_TRANS])
GO
ALTER TABLE [dbo].[RG_TRANSACCIONES] CHECK CONSTRAINT [FK_ID_TRANS]
GO
USE [master]
GO
